sl-input[type="number"] {
  appearance: textfield; /* Standard */
  -moz-appearance: textfield; /* Firefox */
}

sl-input[type="number"]::-webkit-inner-spin-button,
sl-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
  margin: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}

.topNavbar::part(base) {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.topNavigationBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 87.3%;
}

.column {
  padding-right: 10px;
}

.scheduleTable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-radius: 10px;
  overflow: auto;
  margin-top: 10px;
  height: 100%;
}

/* Custom scrollbar */
.scheduleTable::-webkit-scrollbar {
  width: 10px;
}

.scheduleTable::-webkit-scrollbar-track {
  background: #1a1a1e;
  border-radius: 10px;
}

.scheduleTable::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.scheduleTable table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  height: auto;
  border-radius: 5px;
}

.scheduleTable th {
  color: #0ea5e9;
  background: #1a1a1e;
  font-weight: 400;
  font-size: 12px;
  padding: 4px 2px;
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.scheduleTable tr:nth-child(even) td {
  background-color: #1a1a1e;
  color: var(--sl-input-label-color);
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.scheduleTable tr:nth-child(odd) td {
  background-color: var(--background-color);
  color: var(--sl-input-label-color);
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.scheduleTable td {
  padding: 10px 5px;
  transition: 0.3s ease-in-out;
  font-size: 12px;
  justify-content: center;
}

.pendingTable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-radius: 10px;
  overflow: auto;
  margin-top: 10px;
  height: 100%;
}

/* Custom scrollbar */
.pendingTable::-webkit-scrollbar {
  width: 10px;
}

.pendingTable::-webkit-scrollbar-track {
  background: #1a1a1e;
  border-radius: 10px;
}

.pendingTable::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.pendingTable table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  height: auto;
  border-radius: 5px;
}

.pendingTable th {
  color: #0ea5e9;
  background: #1a1a1e;
  font-weight: 400;
  font-size: 12px;
  padding: 4px 2px;
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.pendingTable tr:nth-child(even) td {
  background-color: #1a1a1e;
  color: var(--sl-input-label-color);
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.pendingTable tr:nth-child(odd) td {
  background-color: var(--background-color);
  color: var(--sl-input-label-color);
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.pendingTable td {
  padding: 10px 5px;
  transition: 0.3s ease-in-out;
  font-size: 12px;
  justify-content: center;
}

.employeeTable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-radius: 10px;
  overflow: auto;
  margin-top: 10px;
  height: 100%;
}

/* Custom scrollbar */
.employeeTable::-webkit-scrollbar {
  width: 10px;
}

.employeeTable::-webkit-scrollbar-track {
  background: #1a1a1e;
  border-radius: 10px;
}

.employeeTable::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.employeeTable table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  height: auto;
  border-radius: 5px;
}

.employeeTable th {
  color: #0ea5e9;
  background: #1a1a1e;
  font-weight: 400;
  font-size: 12px;
  padding: 4px 2px;
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.employeeTable tr:nth-child(even) td {
  background-color: #1a1a1e;
  color: var(--sl-input-label-color);
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.employeeTable tr:nth-child(odd) td {
  background-color: var(--background-color);
  color: var(--sl-input-label-color);
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.employeeTable td {
  padding: 10px 5px;
  transition: 0.3s ease-in-out;
  font-size: 12px;
  justify-content: center;
}