.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}

.topNavbar::part(base) {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.topNavigationBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 87.3%;
}

.column {
  padding-right: 10px;
}

.scheduleDetails hr {
  margin: 5px 0px;
}

.scheduleTable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid var(--sl-input-border-width) var(--sl-input-border-color);
  width: 65%;
  padding: 10px;
  border-radius: 10px;
  height: 550px;
  overflow: auto;
}

/* Custom scrollbar */
.scheduleTable::-webkit-scrollbar {
  width: 10px;
}

.scheduleTable::-webkit-scrollbar-track {
  background: #1a1a1e;
  border-radius: 10px;
}

.scheduleTable::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.scheduleTable table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  height: auto;
  border-radius: 5px;
}

.scheduleTable th {
  color: #0ea5e9;
  background: #1a1a1e;
  font-weight: 400;
  font-size: 12px;
  padding: 4px 2px;
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.scheduleTable tr:nth-child(even) td {
  background-color: #1a1a1e;
  color: var(--sl-input-label-color);
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.scheduleTable tr:nth-child(odd) td {
  background-color: var(--background-color);
  color: var(--sl-input-label-color);
  border: 0px;
  border-bottom: 1px solid #36363b;
}

.scheduleTable td {
  padding: 10px 4px;
  transition: 0.3s ease-in-out;
  font-size: 12px;
  justify-content: center;
  cursor: pointer;
}

.detailsHeader {
  font-size: 18px;
  font-weight: 700;
  color: #27bafd;
  margin: 0px;
  padding-bottom: 5px;
}

.detailsTitle {
  font-size: 14px;
  font-weight: 500;
  color: #e8e8ec;
  margin: 0px;
  padding: 5px 0px;
}

.detialsContent {
  font-size: 18px;
  font-weight: 600;
  color: #82a8be;
  margin: 0px;
  padding: 0px;
}
